@import "less-vars";
@import "bootstrap/less/variables";

/*
.navbar-inner {
    min-height: 0;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 30px;
    height: 30px;
    padding-top: 0;
}

.nav-item{
    color: @navbar-items-color;
}

.navbar-link {
    //color: @navbar-inverse-link-color;
    color: lighten(@navbar-items-color,30%);
    &:hover {
        //color: @navbar-inverse-link-hover-color;
        color: lighten(@navbar-items-color,50%);
    }
}


.navbar-default, .navbar-static-top {
    background-color: @themeMainColor;
    border: 0px;
}

.navbar-default a {
    //color: #ffffff !important;
    font-size: 18px !important;
    text-decoration: none;
}*/
